# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
__pycache__/*/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/

# Editor/OS specific files
*.swp
.DS_Store
Thumbs.db

# Exclude a dist directory
dist/

# config file
settings.py

# Tests
tests/
test/
unittests/
integration_test/

