altgraph==0.17.4
anyio==4.0.0
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==2.0.11
cryptography==41.0.4
decorator==5.1.1
exceptiongroup==1.1.3
greenlet==1.1.2
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.3
importlib-metadata==6.8.0
mypy==1.6.1
mypy-extensions==1.0.0
numpy==1.26.1
packaging==23.2
pandas==1.4.0
pandas-stubs==2.1.1.230928
pefile==2023.2.7
py==1.11.0
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.2
requests==2.31.0
retry==0.9.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.31
tomli==2.0.1
types-pytz==2023.3.1.1
types-requests==2.31.0.10
types-retry==0.9.9.4
typing_extensions==4.8.0
urllib3==2.0.7
zipp==3.17.0
